<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/home.css">
  <script defer src="/scripts/bundle.js"></script>
</head>

<body>
  <header>
    <div class="logo-container">
      <a href="/">
        <img class="logo" src="/img/logo.png" alt="Project Logo">
      </a>
    </div>
  </header>

  <nav>
    <div class="link-button-list-container">
      <ul class="link-button-list">
        <li><a class="link-button" href="/">Home</a></li>
        <li><a class="link-button" href="/authentication/login">Login</a></li>
        <li><a class="link-button" href="/authentication/register">Sign Up</a></li>
        <li><a class="link-button" href="/lobby">Lobby</a></li>
      </ul>
    </div>
  </nav>
</body>

</html>
