@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", "Lato", sans-serif;
  color: #414141;
  background-color: #e4f1f1;
}
/* LoginPage */
.login-head {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
}
.login_container {
  width: 40rem;
  max-width: 90%;
  margin: 2rem auto;
  color: white;
  background-color: #03be9f;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 2rem;
  border-radius: 10px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

@media screen and (max-width: 768px) {
  .login_container {
    padding: 1.5rem;
  }
}

.login-form {
  display: grid;
  grid-gap: 8px;
}

.login-label {
  font-weight: bold;
}

.login-input {
  width: 100%;
  padding: 10px;
  /* margin-top: 3px; */
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .login-input {
    width: 100%;
  }
}

.login_button {
  padding: 0.8rem 1.5rem;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  color: #03be9f;

  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .login_button {
    padding: 0.6rem 1rem;
  }
}
/* @media screen and (min-width: 768px) {
  .login-label {
    font-size: 20px;
  }

  .login-input {
    font-size: 20px;
  }
} */

.login_button:hover,
.login_button:active {
  background-color: wheat;
}

.login-btn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* FOOTER */
.footer-sec {
  padding: 5rem;
  width: 100%;
  background-color: rgb(190, 189, 189);
}
.footer-btn {
  padding: 1rem 2rem;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .footer-btn {
    padding: 0.6rem 1rem;
  }
}
.footer-btn:hover,
.footer-btn:active {
  background-color: rgb(163, 139, 139);
}

.footer-button {
  display: flex;
  justify-content: end;
}
.signup-container {
  text-align: center;
}
.signup-container p {
  margin: 0;
}
.signup-container a {
  text-decoration: none;
  color: white;
}
