
body {
    background-image: url('uno.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
}


#project-label {
    background-color: white;
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.logo {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
}

.games-buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 20%; 
    margin-right: 20%; 
    margin-top: 20px; 
}

.lobby-form input[type="submit"],
.exit-form input[type="submit"] {
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
}

.exit-form input[type="submit"]:hover {
    animation: pulse 0.5s ease-in-out;
    background-image: linear-gradient(to bottom, #ff5722, #d63300);

}

.lobby-form input[type="submit"]:hover{
    animation: pulse 0.5s ease-in-out;
    background-image: linear-gradient(to bottom, #191970, #00ffcc);
}



.page-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

/* Right page container styling */
#page-right {
    flex: 0 0 300px;
    margin-right: 20px;
}

/* Game container styling */
.game-container {
    flex: 1;
    min-width: 400px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #ADD8E6;
}

/* Game container header styling */
.game-container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.game-container-header h1 {
    margin: 0;
    text-align: center;
}

.game-container-header h3 {
    margin: 0;
}

.game-container-header button {
    display: block;
    margin-bottom: 5px;
    margin-right: 10px;
}

.start-button {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    background-color: black;
    align-self: self-start;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-bottom: 4px;
}

.start-button:hover {
    animation: pulse 0.5s ease-in-out;
    background-image: linear-gradient(to bottom, #0b4a2a, #61ed5e);      
  }

  .uno-button {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-bottom: 4px;
}

.uno-button:hover {
    animation: pulse 0.5s ease-in-out;
    background-image: linear-gradient(to bottom, #0b4a2a, #61ed5e);      
  }
  
  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }


#users-cardcount {
    display: flex;
    justify-content: center;
}


#current-player-turn {
    display: flex;
    justify-content: center;
    margin: 10px;
}


.main-cards {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}


.topcard-img {
    width: 100px;
    border: 2px solid black;
    border-radius: 20px;
}


#game-card-rows {
    display: flex;
    justify-content: center;
}


.cardimage {
    width: 100px;
    height: 150px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


#chat {
    flex: 0 0 300px;
    margin-right: 20px;
    background-color: #E6E6FA; 
    padding: 20px;
    border-radius: 20px;
    margin-top: 0; 
    margin-bottom: 20px;
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
}

#chat-container {
    margin-top: 20px;
    flex-grow: 1;
    text-align: left;
}

#messages {
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    flex-grow: 1;
}

input#chatMessage {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#messages .username {
    font-weight: bold;
}



@keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }

  