/* Background */
body {
    background-image: url('uno.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* The Text Bar At the Top */
  #project-label {
    background-color: white;
    text-align: center;
    padding: 10px; /* Add some padding for better visibility */
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
  }
  
  .logo {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
  }
  
  .link-button-list-container {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Align buttons to the bottom */
    margin-top: auto; /* Push buttons to the bottom */
  }
  
  .link-button-list {
    list-style: none;
    padding: 0;
    text-align: center;
    display: flex; /* Arrange buttons horizontally */
  }
  
  .link-button-list li {
    margin-right: 20px; /* Adjust the spacing between buttons */
  }
  
  .link-button {
    display: inline-block;
    padding: 15px 30px; /* Make buttons bigger */
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    margin-right: 20px; /* Move buttons to the right */
  }
  