/* Background styling */
body {
    background-image: url('uno.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
}

#project-label {
    background-color: white;
    text-align: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.logo {
    width: 200px;
    height: auto;
}

.link-button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.link-button {
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    background: linear-gradient(to bottom, #E0E7FF, #D8BFE2); 
    color: #111111;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.5s ease-in-out;
  }



.link-button:hover {
    background: #D8BFE2; 
  }
  
  .link-button i { 
    margin-right: 5px;
    font-size: 16px;
  }
  

.page-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

/* Chat box styling */
#chat {
    flex: 0 0 300px;
    margin-right: 20px;
    background-color: #E6E6FA;
    padding: 20px;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}


.lobby-title {
    text-align: center;
}

.lobby-container {
  flex: 1;
  min-width: 400px;
  margin: 40px 20px; /* Add margin to the left side */
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #ADD8E6;
  margin-right: 20px;
}


/* Lobby container header styling */
.lobby-container h1,
.lobby-container h3 {
    margin-bottom: 10px;
}

/* Create game form submit button styling */
.create-game-form input[type="submit"] {
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

/* Create game form submit button hover styling */
.create-game-form input[type="submit"]:hover {
    background-color: #07b4ee;
    color: black;
}

/* Games label styling */
.games-label {
    margin-bottom: 10px;
}

/* Join button styling */
.join-button {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    margin-bottom: 6px;
}

/* Join button hover styling */
.join-button:hover {
    background-color: #45a049;
}

/* Chat container styling */
#chat-container {
    margin-top: 20px;
    flex-grow: 1;
    text-align: left;
}

/* Messages styling */
#messages {
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    flex-grow: 1;
}

/* Chat message input styling */
input#chatMessage {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Username in messages styling */
#messages .username {
    font-weight: bold;
}
